@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Abbot Computing Ltd<br />
    Cork, Ireland<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jonathanmcc@eircom.net">Support</a><br />
    <strong>Marketing:</strong> <a href="mailto:jonathanmcc@eircom.net">Marketing</a>
</address>