@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET front end for the Open Risk Engine by Quaternion.</p>
    <p><a href="http://www.opensourcerisk.org/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">

</div>

<div>
	@ViewBag.Greeting
</div>